    <style type="text/css">
    li{ list-style: none;}
    a{ text-decoration: none;}
      nav ,.content-wrap{
        width: 960px;
        height: 70px;
        margin: 0 auto;
      }
      .navL li a{ 
        width: 120px;
        line-height: 70px;
        text-align: center;
        font-size: 18px;
        float: left;
        cursor: pointer;
        letter-spacing: 10px;
        padding-left: 20px;
        color: #777;
        cursor: pointer;
      }
      .navR li{
        padding-left: 25px;
        float: left;
        position: relative;
      }
      nav ul a:hover{color: #000;}
    </style>
<nav>
  <ul class="navL">
    <li>
      <a href="/admin/" class='nav-menu'>首页管理</a>
    </li>
    <li>
      <a href="/admin/course">课程管理</a>
    </li>
    <li>
      <a href="/admin/coursecontent">课程介绍</a>
    </li>
    <li>
      <a href="/admin/community" >社区管理</a>
    </li>
    <li>
      <a href="/admin/message">资讯管理</a>
    </li>
  </ul>
</nav>

